/* ==========================================================================
   Spacing Utilities
   ========================================================================== */

.mt-1 {
  margin-top: 1rem;
}

.mt-125 {
  margin-top: 1.25rem;
}

.mt-09 {
  margin-top: 0.9rem;
}

.mt-08 {
  margin-top: 0.8rem;
}

.mt-075 {
  margin-top: 0.75rem;
}

.mt-07 {
  margin-top: 0.7rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-025 {
  margin-bottom: 0.25rem;
}

.ml-045 {
  margin-left: 0.45rem;
}
