{
  "openapi": "3.0.3",
  "info": {
    "title": "MDM Device Posture API",
    "version": "1.1.0",
    "description": "Canonical API contract for MDM  device posture system. This JSON spec covers agent ingestion, normalization, evaluation, scoring, decisioning, remediation, policy management, catalog, lookups, and admin jobs."
  },
  "servers": [
    {
      "url": "https://mdm.24onlinebilling.com",
      "description": "Production"
    },
    {
      "url": "https://staging-mdm.24onlinebilling.com",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Agent"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Evaluations"
    },
    {
      "name": "Decisions"
    },
    {
      "name": "Remediations"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Lookups"
    },
    {
      "name": "Admin"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/liveness": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness check",
        "responses": {
          "200": {
            "description": "Liveness status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/readiness": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness check",
        "responses": {
          "200": {
            "description": "Readiness status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },

    "/v1/agent/posture-payloads": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Submit posture payload",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PosturePayloadIngestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosturePayloadIngestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "List posture payloads",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "in": "query",
            "name": "device_external_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "process_status",
            "schema": {
              "$ref": "#/components/schemas/PayloadProcessStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payload list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/agent/posture-payloads/{payload_id}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get posture payload",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/PayloadId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payload detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicePosturePayload"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agent/posture-payloads/{payload_id}/reprocess": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Reprocess posture payload",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/PayloadId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayloadReprocessRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reprocess accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/posture-payloads/{payload_id}/evaluate": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Trigger evaluation for a payload",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/PayloadId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayloadEvaluateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Evaluation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRun"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/devices/{device_external_id}/decision/latest": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get latest decision for a device",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest decision response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDecisionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agent/decision-responses/{response_id}/ack": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Acknowledge decision response",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ResponseId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionAckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionAckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/remediation-items/{remediation_id}/ack": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Acknowledge remediation task from agent",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationTaskPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remediation task updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRemediation"
                }
              }
            }
          }
        }
      }
    },

    "/v1/devices/trust-profiles": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List trust profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "device_external_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "os_type",
            "schema": {
              "$ref": "#/components/schemas/OsType"
            }
          },
          {
            "in": "query",
            "name": "os_name",
            "description": "Linux distro code. Used when os_type=LINUX.",
            "schema": {
              "$ref": "#/components/schemas/LinuxOsName"
            }
          },
          {
            "in": "query",
            "name": "score_band",
            "schema": {
              "$ref": "#/components/schemas/ScoreBand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trust profile list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create trust profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTrustProfileUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTrustProfile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/trust-profiles/{profile_id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get trust profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTrustProfile"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Replace trust profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTrustProfileUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTrustProfile"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Patch trust profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTrustProfilePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTrustProfile"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Soft delete trust profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/posture-payloads": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List posture payloads by device",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Payload list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/snapshots": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List system snapshots",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/snapshots/latest": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get latest system snapshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSystemSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/installed-apps": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List installed applications",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/InstalledAppStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installed application list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/installed-apps/latest": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List latest installed applications",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest installed app list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/trust-score-events": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List trust score events",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust score event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create manual trust score event",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualTrustScoreEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTrustScoreEvent"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/decisions": {
      "get": {
        "tags": [
          "Decisions"
        ],
        "summary": "List device decision history",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Decision history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{device_external_id}/remediations": {
      "get": {
        "tags": [
          "Remediations"
        ],
        "summary": "List remediation tasks for a device",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/DeviceExternalId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Remediation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },

    "/v1/evaluations/runs": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Create/trigger evaluation run",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRun"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List evaluation runs",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "evaluation_status",
            "schema": {
              "$ref": "#/components/schemas/EvaluationStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get evaluation run",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRun"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}/matches": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List run matches",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Match list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostureEvaluationMatch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}/remediations": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List run remediations",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Remediation list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostureEvaluationRemediation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}/decision-response": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get run decision response",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Decision response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDecisionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}/retry": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Retry run",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Retry queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evaluations/runs/{run_id}/cancel": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Cancel run",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Cancel accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          }
        }
      }
    },

    "/v1/decisions/responses": {
      "get": {
        "tags": [
          "Decisions"
        ],
        "summary": "List decision responses",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "delivery_status",
            "schema": {
              "$ref": "#/components/schemas/DeliveryStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decision response list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decisions/responses/{response_id}": {
      "get": {
        "tags": [
          "Decisions"
        ],
        "summary": "Get decision response",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ResponseId"
          }
        ],
        "responses": {
          "200": {
            "description": "Decision response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDecisionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decisions/responses/{response_id}/send": {
      "post": {
        "tags": [
          "Decisions"
        ],
        "summary": "Send decision response",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ResponseId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDecisionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decisions/responses/{response_id}/resend": {
      "post": {
        "tags": [
          "Decisions"
        ],
        "summary": "Resend decision response",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/ResponseId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionSendRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Resend accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          }
        }
      }
    },

    "/v1/policies/system-rules": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List system rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "os_type",
            "schema": {
              "$ref": "#/components/schemas/OsType"
            }
          },
          {
            "in": "query",
            "name": "os_name",
            "schema": {
              "$ref": "#/components/schemas/LinuxOsName"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/RecordStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System rule list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/system-rules/{system_rule_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "System rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/policies/system-rules/{system_rule_id}/activate": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Activate system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/system-rules/{system_rule_id}/deactivate": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Deactivate system rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRule"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/system-rules/{system_rule_id}/conditions": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List system rule conditions",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Condition list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create system rule condition",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleConditionUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRuleCondition"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/system-rules/{system_rule_id}/conditions/{condition_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get condition",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          },
          {
            "$ref": "#/components/parameters/ConditionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Condition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRuleCondition"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace condition",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          },
          {
            "$ref": "#/components/parameters/ConditionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleConditionUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRuleCondition"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch condition",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          },
          {
            "$ref": "#/components/parameters/ConditionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemInformationRuleConditionUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInformationRuleCondition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete condition",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/SystemRuleId"
          },
          {
            "$ref": "#/components/parameters/ConditionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/policies/reject-apps": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List reject app policies",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Reject app policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create reject app policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectApplicationUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectApplicationPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/reject-apps/{reject_app_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get reject app policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RejectAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Reject app policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectApplicationPolicy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace reject app policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RejectAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectApplicationUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectApplicationPolicy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch reject app policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RejectAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectApplicationUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectApplicationPolicy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete reject app policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RejectAppId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/policies/trust-score-policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List trust score policies",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust score policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create trust score policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScorePolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScorePolicy"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/trust-score-policies/{trust_score_policy_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get trust score policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustScorePolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust score policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScorePolicy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace trust score policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustScorePolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScorePolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScorePolicy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch trust score policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustScorePolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScorePolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScorePolicy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete trust score policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustScorePolicyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/policies/trust-score-policies/simulate": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Simulate trust score",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScorePolicySimulationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScorePolicySimulationResponse"
                }
              }
            }
          }
        }
      }
    },

    "/v1/policies/trust-decision-policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List trust decision policies",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust decision policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create trust decision policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScoreDecisionPolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScoreDecisionPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/trust-decision-policies/{trust_decision_policy_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get trust decision policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustDecisionPolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust decision policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScoreDecisionPolicy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace trust decision policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustDecisionPolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScoreDecisionPolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScoreDecisionPolicy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch trust decision policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustDecisionPolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustScoreDecisionPolicyUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustScoreDecisionPolicy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete trust decision policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/TrustDecisionPolicyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/policies/remediation-rules": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List remediation rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Remediation rule list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create remediation rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemediationRule"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/remediation-rules/{remediation_rule_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get remediation rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationRuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Remediation rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemediationRule"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace remediation rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationRuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemediationRule"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch remediation rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationRuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationRuleUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemediationRule"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete remediation rule",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationRuleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/policies/rule-remediation-mappings": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List rule-remediation mappings",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule-remediation mapping list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create rule-remediation mapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleRemediationMappingUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleRemediationMapping"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies/rule-remediation-mappings/{mapping_id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get rule-remediation mapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/MappingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule-remediation mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleRemediationMapping"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Replace mapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/MappingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleRemediationMappingUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleRemediationMapping"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "summary": "Patch mapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/MappingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleRemediationMappingUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleRemediationMapping"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Soft delete mapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/MappingId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/remediations/tasks": {
      "get": {
        "tags": [
          "Remediations"
        ],
        "summary": "List remediation tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "remediation_status",
            "schema": {
              "$ref": "#/components/schemas/RemediationStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remediations/tasks/{remediation_id}": {
      "get": {
        "tags": [
          "Remediations"
        ],
        "summary": "Get remediation task",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Task detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRemediation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Remediations"
        ],
        "summary": "Patch remediation task",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationTaskPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRemediation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remediations/tasks/{remediation_id}/complete": {
      "post": {
        "tags": [
          "Remediations"
        ],
        "summary": "Mark remediation completed",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationTaskPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRemediation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remediations/tasks/{remediation_id}/skip": {
      "post": {
        "tags": [
          "Remediations"
        ],
        "summary": "Mark remediation skipped",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTenantId"
          },
          {
            "$ref": "#/components/parameters/RemediationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemediationTaskPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skipped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureEvaluationRemediation"
                }
              }
            }
          }
        }
      }
    },

    "/v1/catalog/applications": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List application catalog",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "in": "query",
            "name": "os_type",
            "schema": {
              "$ref": "#/components/schemas/OsType"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Create catalog entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCatalogUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCatalogEntry"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog/applications/{application_catalog_id}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get catalog entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationCatalogId"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCatalogEntry"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Catalog"
        ],
        "summary": "Patch catalog entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationCatalogId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCatalogUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCatalogEntry"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog/applications/search": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Advanced catalog search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCatalogSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEnvelope"
                }
              }
            }
          }
        }
      }
    },

    "/v1/lookups": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "List lookup types from lkp_master",
        "responses": {
          "200": {
            "description": "Lookup type list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupTypeInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/lookups/{lookup_type}": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "List lookup values",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lookups"
        ],
        "summary": "Create lookup value",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupEntryUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupEntry"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lookups/{lookup_type}/{code}": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "Get lookup value",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          },
          {
            "$ref": "#/components/parameters/LookupCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupEntry"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Lookups"
        ],
        "summary": "Replace lookup value",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          },
          {
            "$ref": "#/components/parameters/LookupCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupEntryUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupEntry"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lookups"
        ],
        "summary": "Patch lookup value",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          },
          {
            "$ref": "#/components/parameters/LookupCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupEntryUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupEntry"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lookups"
        ],
        "summary": "Delete lookup value",
        "parameters": [
          {
            "$ref": "#/components/parameters/LookupType"
          },
          {
            "$ref": "#/components/parameters/LookupCode"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },

    "/v1/admin/jobs/rebuild-application-catalog": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Trigger application catalog rebuild",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminJobRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminJobResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/jobs/recompute-device-trust-score": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Trigger trust score recomputation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminJobRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminJobResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/jobs/{job_id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get admin job status",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminJobResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "XTenantId": {
        "in": "header",
        "name": "X-Tenant-Id",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Page": {
        "in": "query",
        "name": "page",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "Size": {
        "in": "query",
        "name": "size",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 20
        }
      },
      "Sort": {
        "in": "query",
        "name": "sort",
        "schema": {
          "type": "string",
          "example": "created_at,desc"
        }
      },
      "PayloadId": {
        "in": "path",
        "name": "payload_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "DeviceExternalId": {
        "in": "path",
        "name": "device_external_id",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResponseId": {
        "in": "path",
        "name": "response_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "ProfileId": {
        "in": "path",
        "name": "profile_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "RunId": {
        "in": "path",
        "name": "run_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "SystemRuleId": {
        "in": "path",
        "name": "system_rule_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "ConditionId": {
        "in": "path",
        "name": "condition_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "RejectAppId": {
        "in": "path",
        "name": "reject_app_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "TrustScorePolicyId": {
        "in": "path",
        "name": "trust_score_policy_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "TrustDecisionPolicyId": {
        "in": "path",
        "name": "trust_decision_policy_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "RemediationRuleId": {
        "in": "path",
        "name": "remediation_rule_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "MappingId": {
        "in": "path",
        "name": "mapping_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "ApplicationCatalogId": {
        "in": "path",
        "name": "application_catalog_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "RemediationId": {
        "in": "path",
        "name": "remediation_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "LookupType": {
        "in": "path",
        "name": "lookup_type",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "lkp_os_type",
            "lkp_os_name",
            "lkp_os_platform",
            "lkp_os_lifecycle_state",
            "lkp_device_type",
            "lkp_record_status",
            "lkp_match_mode",
            "lkp_compliance_action",
            "lkp_rule_condition_operator",
            "lkp_signal_source",
            "lkp_score_band",
            "lkp_posture_status",
            "lkp_payload_process_status",
            "lkp_installed_app_status",
            "lkp_remediation_type",
            "lkp_rule_remediation_source",
            "lkp_enforce_mode",
            "lkp_evaluation_status",
            "lkp_match_source",
            "lkp_remediation_source",
            "lkp_remediation_status",
            "lkp_delivery_status",
            "lkp_app_category",
            "lkp_threat_type"
          ]
        }
      },
      "LookupCode": {
        "in": "path",
        "name": "code",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "JobId": {
        "in": "path",
        "name": "job_id",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "UP"
          },
          "service": {
            "type": "string",
            "example": "mdm-posture-api"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "trace_id": {
            "type": "string"
          }
        }
      },
      "OperationAccepted": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ACCEPTED"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "PagedEnvelope": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "size": {
                "type": "integer"
              },
              "total_elements": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        }
      },

      "OsType": {
        "type": "string",
        "enum": [
          "ANDROID",
          "IOS",
          "WINDOWS",
          "MACOS",
          "LINUX"
        ]
      },
      "LinuxOsName": {
        "type": "string",
        "enum": [
          "DEBIAN",
          "CENTOS",
          "FEDORA",
          "MINT",
          "REDHAT",
          "UBUNTU",
          "ROCKY",
          "ALMALINUX",
          "SUSE",
          "OTHER"
        ]
      },
      "DeviceType": {
        "type": "string",
        "enum": [
          "PHONE",
          "TABLET",
          "LAPTOP",
          "DESKTOP",
          "IOT",
          "SERVER"
        ]
      },
      "RecordStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "INACTIVE"
        ]
      },
      "ComplianceAction": {
        "type": "string",
        "enum": [
          "ALLOW",
          "NOTIFY",
          "QUARANTINE",
          "BLOCK"
        ]
      },
      "ScoreBand": {
        "type": "string",
        "enum": [
          "CRITICAL",
          "HIGH_RISK",
          "MEDIUM_RISK",
          "LOW_RISK",
          "TRUSTED"
        ]
      },
      "PayloadProcessStatus": {
        "type": "string",
        "enum": [
          "RECEIVED",
          "VALIDATED",
          "EVALUATED",
          "FAILED"
        ]
      },
      "EvaluationStatus": {
        "type": "string",
        "enum": [
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ]
      },
      "DeliveryStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "SENT",
          "ACKED",
          "FAILED",
          "TIMEOUT"
        ]
      },
      "RemediationStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "SENT",
          "ACKED",
          "SKIPPED",
          "FAILED",
          "COMPLETED"
        ]
      },
      "InstalledAppStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "REMOVED",
          "UNKNOWN"
        ]
      },
      "SignalSource": {
        "type": "string",
        "enum": [
          "SYSTEM_RULE",
          "REJECT_APPLICATION",
          "POSTURE_SIGNAL",
          "MANUAL"
        ]
      },
      "MatchSource": {
        "type": "string",
        "enum": [
          "SYSTEM_RULE",
          "REJECT_APPLICATION",
          "TRUST_POLICY"
        ]
      },

      "PosturePayloadIngestRequest": {
        "type": "object",
        "required": [
          "device_external_id",
          "agent_id",
          "payload_version",
          "payload_json"
        ],
        "properties": {
          "device_external_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "payload_version": {
            "type": "string"
          },
          "payload_hash": {
            "type": "string"
          },
          "capture_time": {
            "type": "string",
            "format": "date-time"
          },
          "payload_json": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PosturePayloadIngestResponse": {
        "type": "object",
        "properties": {
          "payload_id": {
            "type": "integer",
            "format": "int64"
          },
          "process_status": {
            "$ref": "#/components/schemas/PayloadProcessStatus"
          },
          "evaluation_run_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "PayloadReprocessRequest": {
        "type": "object",
        "required": [
          "requested_by"
        ],
        "properties": {
          "requested_by": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "PayloadEvaluateRequest": {
        "type": "object",
        "required": [
          "requested_by"
        ],
        "properties": {
          "requested_by": {
            "type": "string"
          },
          "force_recalculate": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "DevicePosturePayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "device_external_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string",
            "nullable": true
          },
          "payload_version": {
            "type": "string",
            "nullable": true
          },
          "payload_hash": {
            "type": "string",
            "nullable": true
          },
          "process_status": {
            "$ref": "#/components/schemas/PayloadProcessStatus"
          },
          "payload_json": {
            "type": "object",
            "additionalProperties": true
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "processed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },

      "DeviceTrustProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "device_external_id": {
            "type": "string"
          },
          "device_type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "os_type": {
            "$ref": "#/components/schemas/OsType"
          },
          "os_name": {
            "$ref": "#/components/schemas/LinuxOsName"
          },
          "current_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "score_band": {
            "$ref": "#/components/schemas/ScoreBand"
          },
          "posture_status": {
            "type": "string"
          },
          "last_recalculated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "DeviceTrustProfileUpsertRequest": {
        "type": "object",
        "required": [
          "device_external_id"
        ],
        "properties": {
          "device_external_id": {
            "type": "string"
          },
          "device_type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "os_type": {
            "$ref": "#/components/schemas/OsType"
          },
          "os_name": {
            "$ref": "#/components/schemas/LinuxOsName"
          },
          "current_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "score_band": {
            "$ref": "#/components/schemas/ScoreBand"
          },
          "posture_status": {
            "type": "string"
          },
          "modified_by": {
            "type": "string"
          }
        }
      },
      "DeviceTrustProfilePatchRequest": {
        "type": "object",
        "properties": {
          "device_type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "os_type": {
            "$ref": "#/components/schemas/OsType"
          },
          "os_name": {
            "$ref": "#/components/schemas/LinuxOsName"
          },
          "current_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "score_band": {
            "$ref": "#/components/schemas/ScoreBand"
          },
          "posture_status": {
            "type": "string"
          },
          "modified_by": {
            "type": "string"
          }
        }
      },

      "DeviceSystemSnapshot": {
        "type": "object",
[...]
